<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Romanize Arabic ALA-LC</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- <link rel="stylesheet" href="../static/css/debug.css"> -->
	</head>
	<body onload="pageSetup()">
    <header>
        <section id="title-hero" class="hero is-primary ">
            <div class="hero-body">
                <div class="columns " dir="rtl" >
                    <div class="column">
                        <h1 lang="ar" class="title is-size-1-desktop is-size-4-mobile">
                            <span class="ar-text">رومنة اللغة العربية</span> ALA-LC
                        </h1>
                    </div>
                    </h2> <br>
                    <div class="column" style="text-align: left;">
                        <h1 class="title is-size-1-desktop is-size-4-mobile">
                            Arabic Romanization ALA-LC
                        </h1>
                    </div>
                </div>
            </div>
        </section>
    </header>
    
    <main class="mx-6">


        <section class="columns" id="intro-text" dir="rtl">
            <div class="column" id="arabic-intro-text">   
                    <div class="notification" dir="rtl">
                        أداة لرومنة الحروف العربية طبقًا لمعايير <b>جمعية المكتبات الأمريكية - مكتبة الكونجرس</b>
                    </div>
            </div>
            <div class="column" dir="ltr">   
                    <div class="notification" id="english-intro-text">
                        A transliteration tool following the <b> American Library Association - Library of Congress</b>
                    </div>
            </div>
        </section>

        <section id="input-form" class="columns" dir="rtl">
            <div class="column">
                <textarea class="textarea" id="input-text" name="input_field" dir="rtl" placeholder="ادخل النص العربي هنا - Input Arabic Text" required="" type="text" value=""></textarea> 
            </div>                
            
            <div class="column is-narrow" id="loader"></div>

            <div class="column">
                <div id="error-msg" dir="ltr" style="color:red" ></div>
                <textarea class="textarea" id="output-text" name="output_field" dir="ltr" type="text" value=""></textarea>                                               
            </div>
        </section>
            
        <section id="input-buttons" class="columns is-centered is-vcentered">
            <dev class="column is-narrow keyboard">
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td>ى</td>
                            <td>ع</td>
                            <td>ء</td>
                            <td>اَ</td>
                            <td>وُ</td>
                            <td>يِ</td>
                            <td>ح</td>
                            <td>ص</td>
                            <td>ض</td>
                            <td>ط</td>
                            <td>ظ</td>
                        </tr>
                        <tr>
                            <td><input class="button square" type="button" onclick="clickLetter('á')" value="á"></td>
                            <td><input class="button square" type="button" onclick="clickLetter('ʻ')" value="ʻ"></td>
                            <td><input class="button square" type="button" onclick="clickLetter('ʼ')" value="ʼ"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('ā')" value="ā"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('ū')" value="ū"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('ī')" value="ī"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('ḥ')" value="ḥ"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('ṣ')" value="ṣ"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('ḍ')" value="ḍ"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('ṭ')" value="ṭ"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('ẓ')" value="ẓ"></td>
                        </tr>
                        <tr>
                            <td><input class="button square" type="button" onclick="clickLetter('á')" value="" disabled></td>
                            <td><input class="button square" type="button" onclick="clickLetter('ʻ')" value="" disabled></td>
                            <td><input class="button square" type="button" onclick="clickLetter('ʼ')" value="" disabled></td>
                            <td><input type="button" class="button square" onclick="clickLetter('Ā')" value="Ā"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('Ū')" value="Ū"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('Ī')" value="Ī"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('Ḥ')" value="Ḥ"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('Ṣ')" value="Ṣ"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('Ḍ')" value="Ḍ"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('Ṭ')" value="Ṭ"></td>
                            <td><input type="button" class="button square" onclick="clickLetter('Ẓ')" value="Ẓ"></td>
                        </tr>
                    </tbody>
                </table>
            </dev>
        </section>
        <div class="container">
        <div id="examples" class="notification is-small" style="text-align: center;" dir="ltr">
            Try this example: 
        
                <a onclick="fillExample('جوهري، طنطاوي. \n جَمهَرَة الشعر والتعريب.\n وهي، جُملَةْ قطع من النظم لمشهوري شعراء الانجليز، كساها حُلَّةْ الشعر العربي')">جوهري، طنطاوي. جَمهَرَة الشعر والتعريب. وهي، جُملَةْ قطع من النظم لمشهوري شعراء الانجليز، كساها حُلَّةْ الشعر العربي</a>
        
        </div>
    </div>
    </main>
    <footer class="footer">
        
            <div class="container footer-message">
                <div id="footer" class="notification is-info has-text-left">
                    This system follows the <a href="https://www.loc.gov/catdir/cpso/romanization/arabic.pdf" target="_blank">ALA-LC Arabic Romanization Table and Guidelines</a>.  It is based on the “MLE Simple” model described in Eryani & Habash (2021), with slight modifications.  This model, selected for its speed, uses a large corpus of training data to calculate the most frequent Romanization given a certain Arabic input. The system achieves 90% accuracy (ignoring capitalization errors) and 84% exact match accuracy. In out-of-vocabulary scenarios, about 3% of the words, the system falls back on a simple character transliteration technique that Romanizes the input as is, without guessing unmarked vowels or splitting proclitics.  
<br><br>
Reference: Fadhl Eryani & Nizar Habash. <cite>Automatic Romanization of Arabic Bibliographic Records.</cite> In Proceedings of the Arabic Natural Language Processing Workshop. 2021.
                    </small> <a href="https://www.aclweb.org/anthology/2021.wanlp-1.23.pdf"
                        target="_blank">[PDF]</a> <a href="https://www.aclweb.org/anthology/2021.wanlp-1.23.bib" target="_blank">[BIB]</a> <a href="https://github.com/CAMeL-Lab/Arabic_ALA-LC_Romanization" target="_blank">[Github]</a>

                </div>
            </div>
            <div class="container">
                <div class="level">
                    <div class="level-item"><a
                            href="https://nyuad.nyu.edu/en/research/centers-labs-and-projects/computational-approaches-to-modeling-language-lab.html"
                            target="_blank"><img src="../static/images/camel.png" class="footer-logo"></a>
                    </div>
                    <div class="level-item"><a 
                        href="https://nyuad.nyu.edu" 
                        target="_blank"><img src="../static/images/nyuad.png" class="footer-logo"></a>
                    </div>
                </div>
            </div>
    </footer>
	</body>
    <script>
        var outputText = document.getElementById("output-text");
        var inputText = document.getElementById("input-text");
        

        let loader = document.getElementById('loader');

        // Init a timeout variable to be used below
        let timeout = null;

        // Listen for keystroke events
        inputText.addEventListener('keyup', function (e) {
            // Clear the timeout if it has already been set.
            // This will prevent the previous task from executing
            // if it has been less than <MILLISECONDS>
            clearTimeout(timeout);
            loader.innerHTML = '<div class="col-3"><div class="snippet" data-title=".dot-windmill"><div class="stage"><div class="dot-windmill"></div></div></div></div>';

            // Make a new timeout set to go off in 1000ms (1 second)
            timeout = setTimeout(function () {
                console.log('Input Value:', inputText.value);
                romanize();
                loader.innerHTML = "";

            }, 1000);
        });



        function clickLetter(c) {
            var cursorPosition = outputText.selectionEnd;
            outputText.focus(); // TODO: maintain current position instead of focusing on the end of text
            outputText.value = outputText.value.substring(0, outputText.selectionStart) + c + outputText.value.substring(outputText.selectionEnd, outputText.value.length);
    
        }

        function fillExample(c) {
            inputText.value = c;
            romanize();
        }
    

        function pageSetup() {
            const node = document.getElementById("input-form");            
        }
    



        function romanize() {
            console.log("romanizing...");
    
            var errorMsg = document.getElementById("error-msg");
            errorMsg.innerHTML = "";
    
            txt = inputText.value;
            console.log(txt);
    
            var requestStr = "/romanize?txt=" + encodeURIComponent(inputText.value);
            console.log(requestStr)
            console.log(requestStr.length)
            if (requestStr.length > 1500) {
                console.log(requestStr.length)
    
                errorMsg.innerHTML = "input is too long!";
                return;
            }
    
            var xhr = new XMLHttpRequest();
    
            xhr.open("GET", requestStr, true);
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        console.log(xhr.responseText);
                        outputText.value = xhr.responseText;
                    } else {
                        console.error(xhr.statusText);
                    }
                }
            };
            xhr.onerror = function (e) {
                console.error(xhr.statusText);
            };
            xhr.send(null);
    
        }
    </script>
</html>